# Update these with your Supabase details from your project settings > API
# https://app.supabase.com/project/_/settings/api
NEXT_PUBLIC_SUPABASE_URL=your-project-url
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_OR_ANON_KEY=your-anon-key
NEXT_PUBLIC_CONN_DETAILS_ENDPOINT=/api/connection-details

SUPABASE_SERVICE_ROLE_KEY=your-service-role-key

# Update these with your LiveKit details from your LiveKit dashboard
# https://docs.livekit.io/
LIVEKIT_API_KEY=your-livekit-api-key
LIVEKIT_API_SECRET=your-livekit-api-secret
LIVEKIT_URL=your-livekit-url

# Make sure this key is the same as the one set in your Agent's .env file
AGENT_API_KEY=your-agent-api-key 

GOOGLE_API_KEY=your-google-api-key